$color-white: #ecf0f1
$color-lightergrey: #f8f8f8
$color-lightgrey: #f3f3f3
$color-grey: #63738a
$color-bordergray: #e4e4e4
$color-darkgrey: #7f8c8d
$color-darkergrey: #4b4b4b
$color-lightblack: #0f172a
$color-glass: rgba(255, 255, 255, 0.1)

$color-darkblue: #34495e
$color-darkerblue: #2c3e50

$color-lightblue: #deeefd
$color-blue: #0071f3

$color-red: #e74c3c
$color-darkred: #e74c3c

$color-green: #2ecc71
$color-darkgreen: #27ae60