@use '../../../../../styles/colors' as *

.courseInfoPage
  display: flex
  flex-direction: column
  padding: 3em
  min-height: 100vh

.buttonContainer
  margin-bottom: 1em

.courseMainInfo
  display: flex
  flex-direction: column

.courseTitleContainer
  display: flex
  flex-direction: column

.courseDescContainer
  p
    font-size: 1em

.courseDescHeader
  display: flex
  justify-content: space-between
  width: 100%
  align-items: center

.courseTitleHeader
  display: flex
  justify-content: space-between
  width: 100%
  align-items: center

.courseTitleData
  font-size: 2em
  font-weight: bold
  margin-bottom: 0.3rem
  display: flex
  padding: 0.7rem
  height: 3rem
  box-sizing: border-box
  align-items: center

.courseDescData
  display: flex
  padding: 0.7em
  min-height: 5rem
  box-sizing: border-box
  align-items: center

.courseContent
  min-height: 3em
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  gap: 0.3rem

.courseContentContainer
  p
    margin-top: 0.3em
    margin-bottom: 0.6em

