@use '../../../../styles/colors' as *

.themeCard
  background-color: white
  min-height: 15em
  border-radius: 1em
  padding: 2em
  display: flex
  flex-direction: column
  box-shadow: 0 0 1em 0.2em rgba(0,0,0,.1)
  justify-content: space-between
  transition: all 0.2s ease-in-out
  border: 0.05em solid $color-bordergray
  &:hover
    transform: translate(0, -1em)

.header
  font-weight: bold
  font-size: 1.8em
  color: $color-lightblack

.progressContainer
  p
    color: $color-lightblack
    font-size: 1.1em
    margin-bottom: 0.4em