@use '../../../../styles/colors' as *

.card
  display: flex
  flex-direction: column
  border-radius: 1em
  overflow: hidden
  box-shadow: 0 0 1em 0.1em rgba(0,0,0,.1)
  width: 32.5em
  height: 15em
  padding: 1em
  position: relative
  transition: all 0.3s ease-in-out
  border: 0.08em solid #e6e6e8
  &:hover
    transform: translate(0, -0.6em)

.content
  padding: 0.5rem
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: flex-start
  height: 100%
  border-radius: 0.3em


.description
  margin-top: 0.5em
  p
    color: black
    font-weight: 350
    font-size: 1em
    margin-top: 0.3em
    margin-left: 0.2em

.tags
  display: flex
  width: 100%
  gap: 0.3em
  flex-wrap: wrap

.tag
  background-color: $color-lightgrey
  padding: 0.3em
  border-radius: 0.3em
  font-size: 0.8em
  display: flex
  align-items: center
  justify-content: center

.title
  font-weight: bold
  font-size: 1.6rem
  color: #333

.imageContainer
  position: absolute
  left: 15em
  bottom: -5em

.courseImage
  width: 20em

