.circleBackground
  fill: none
  stroke: #e6e6e6
  stroke-width: 0.6em

.circleProgress
  fill: none
  stroke: black
  stroke-width: 0.6em
  transform-origin: center
  transform: rotate(-90deg)

.circleText
  fill: black
  font-size: 1.2rem
  text-anchor: middle
  alignment-baseline: central