@use '../../../../styles/colors' as *

.coursesList
  display: flex
  flex-direction: column
  align-items: center
  padding: 1em 0
  overflow: hidden

.title
  align-self: start
  font-weight: bold
  font-size: 2em
  margin: 1em 0.5em
  color: $color-grey
  span
    color: $color-lightblack

.coursesListContainer
  display: flex
  width: 100%
  flex-direction: column
  margin-top: 0.5em
  gap: 0.5em

.buttonContainer
  width: 8em

.controlsContainer
  display: flex
  justify-content: space-between
  width: 100%
  padding: 0 1em
  & > *:first-child
    width: 20%