@use '../../../styles/colors' as *

.coursePage
  min-height: 100vh

.courseHeader
  margin-top: 1em
  background: linear-gradient(to bottom, rgba(245, 245, 245, 0) 0%, $color-lightgrey 100%)
  display: flex
  width: 100%
  min-height: 30vh
  position: relative
  justify-content: space-between
  overflow: hidden
  align-items: center
  flex-direction: column

.backButtonContainer
  flex-shrink: 0
// Предотвращает сжатие кнопки

.breadcrumb
  position: absolute
  left: 50%
  transform: translateX(-50%)
  width: auto

.breadcrumbContainer
  display: flex
  position: relative
  align-items: center
  justify-content: flex-start
  width: 100%
  padding: 0 2em
  //height: 50px
// Пример высоты, установите свою в зависимости от содержимого

.courseHeaderInfo
  display: flex
  flex-direction: column
  height: 100%
  padding: 2.5em
  gap: 0.8em
  width: 30%
  align-self: flex-start
  p
    font-weight: 100
    color: $color-lightblack
    font-size: 1.5em
  h1
    font-weight: bold
    font-size: 2em
    color: $color-lightblack

.tagsContainer
  display: flex
  gap: 0.4em

.tag
  background-color: $color-lightgrey
  padding: 0.3em
  border-radius: 0.3em

.progressContainer
  p
    font-size: 1.1em
    font-weight: normal
    margin-bottom: 0.5em

.infoCards
  display: flex
  justify-content: flex-start
  gap: 3em

.infoCard
  display: flex
  flex-direction: column
  align-items: center
  p
    line-height: 1.5em
    margin-top: 0.4em
    font-size: 1em
  span
    font-size: 1.2rem
    font-weight: 400


.infoCardIcon
  background-color: white
  border: 1px solid $color-grey
  border-radius: 100%
  font-size: 1.2em
  padding: 0.8em
  width: 1.3em
  height: 1.3em

.imageContainer
  position: absolute
  right: -10em
  bottom: -10em


.courseImage
  width: 35em

.courseThemesContainer
  display: flex
  width: 100%
  justify-content: center
  padding: 2em

.courseThemes
  display: grid
  grid-template-columns: repeat(3, minmax(25em, 1fr))
  gap: 1.5em
  width: 90%

.modalHeaderText
  font-size: 1.2em

