@use '@/styles/colors' as *

.CustomTextBoxContainer
  display: flex
  width: 100%
  flex-direction: column
  margin-bottom: 0.7em
  margin-top: 0.3em

.textBoxTitle
  margin-bottom: 0.6em
  padding-left: 0.5em
  display: flex
  justify-content: space-between
  color: $color-grey

.CustomTextBox
  padding: 1em
  background-color: $color-lightgrey
  border: none
  border-radius: 0.3rem
  color: $color-lightblack
  font-size: 1em
  box-sizing: border-box
  transition: background-color 0.3s ease-in-out
  width: 100%
  min-height: 7em
  resize: none
  &::placeholder
    color: $color-grey

  &:focus
    outline: none
    border: 0.05em solid #b9b9b9
    background-color: white
    &::-webkit-scrollbar-thumb
      background-color: $color-grey

  &::-webkit-scrollbar
    width: 0.6em

  &::-webkit-scrollbar-thumb
    background-color: transparent
    border-radius: 0.3em

  &::-webkit-scrollbar-track
    background-color: transparent