@use '../../../../styles/colors' as *

.questionCard
  border: 0.08em solid $color-bordergray
  border-radius: 0.3rem
  padding: 1rem
  margin-bottom: 1rem
  display: flex
  flex-direction: column

.questionContent
  color: $color-lightblack

.questionText, .correctAnswer, .options
  margin-bottom: 0.75rem

.options
  p
    margin-bottom: 0.75rem

.options li
  background-color: $color-lightgrey
  margin-bottom: 0.25rem
  padding: 0.7rem
  border-radius: 0.2rem
  color: $color-lightblack
  display: flex
  justify-content: space-between

.removeButtonContainer
  margin-left: auto
