@use '@/styles/colors' as *

.card
  display: flex
  width: 100%
  height: 5em
  border-bottom: 1px solid $color-bordergray
  align-items: center
  padding: 2em 1em
  color: $color-lightblack
  background-color: $color-lightergrey
  transition: all 0.2s ease-in-out
  &:hover
    transform: translateX(0.5em)
  p
    width: 20%

.userDataContainer
  display: flex
  align-items: center
  width: 20%

.avatarContainer
  width: 3em
  height: 3em
  margin-right: 0.7em

.userInfoContainer
  display: flex
  flex-direction: column
  gap: 0.7em

.nameContainer
  flex-wrap: nowrap
  white-space: nowrap