@use '../../../../styles/colors' as *

.formContainer
  display: flex
  flex-direction: column
  padding: 0.7em
  border-radius: 1em
  box-shadow: 0 4px 8px rgba(0,0,0,0.1)
  background-color: white
  margin-bottom: 0.7em

.answersList
  display: flex
  flex-direction: column
  gap: 0.5em

.answersTitle
  margin-bottom: 0.7em

.controls
  display: flex
  justify-content: space-between
  margin-top: 20px

.answerItem
  display: flex

.removeButton
  color: $color-red