@use '@/styles/colors' as *

.fileUploader
  display: flex
  flex-direction: column

.fileSelected
  background-color: #8a8a8a
  color: white
  border-radius: 0.8em
  padding: 1em 1em
  margin-bottom: 0.4em
  display: flex
  flex-wrap: wrap
  align-items: center
  word-break: break-all

.deleteIcon
  margin-left: auto
  cursor: pointer
  margin-bottom: auto

.title
  margin-bottom: 0.6em
  color: $color-grey